@media screen and (max-width: 768px) {

  .wrapper {
      min-width: 460px;
      max-width: 768px;
      margin:0 auto;
      overflow-x:hidden; 
}

/**HEADER***************************************************/
header {
    position: relative;
    padding:0;
    margin:0;
    width: 100%;
    height: 774px;
    margin: 0 auto;
    margin-top: 0;
}

.vertical {
    display: none;
}

.home-320 {
  display: none;
}


.img-header {
    padding:0;
    margin:0;
    display: block;
    background-size:100%;   
    background: url(../img/gg.png) center center no-repeat;
    max-width: 100%;
    height:818px;
    z-index: 1;

}

 menu {
    display: block;
    position: absolute;
    text-align: center;
    top: 115px;
    left: 7px;
    width: 700px;
   
 }
 

.menu .menu__item {
    float: left;
    list-style: none;
    padding:0;
    margin:0;
    margin-right: 7.5%;
}

.menu .menu__link{
    display:inline-block;
    text-decoration:none;
    color:#ffffff;
    text-shadow: 1px 1px 2px black;
    font: 24px "League Gothic",arial, sans-serif;
    
}

.header-text {
    position: absolute;
    z-index: 3;
    width: 268px;
    height: 245px;
    left: 34px;
    top: 320px;
}

.header-text1 {
    font:46px "League Gothic",arial, sans-serif;
    color:#ffffff;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.01em;
}

.header-text2 {
    font: 22px "League Gothic",arial, sans-serif;
    color:#edbfff;
    line-height: 1;
    font-weight: 400;
}

.header-text3 {
    font: 16px arial, sans-serif;
    color:#ffffff;
    line-height: 24px;
    width: 45%;
}

.header-text4 {
    display: none;
}

.logo {
    margin-top: 37px;
    margin-left: 1px;
    margin-right: 156px;
 }

.transpar{
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    top:218px;
    width: 100%;
    height: 401px;
}

.switch-header {
    float: left;
    display:inline-block;
    position: relative;
    top: 614px;
    left: 70%;
    z-index: 7;
 }



.phone {
    display: block;
    position: absolute;
    z-index: 3;
    width: 265px;
    height: 371px;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-485px -3px;
    left: 59%;
    top: 197px;
}

.left {
    display: block;
    position: absolute;
    z-index: 3;
    width: 40px;
    height: 42px;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-160px -5px;
    left: -19px;
    top: 52%;
}

.right {
    display: block;
    position: absolute;
    z-index: 6;
    width: 40px;
    height: 42px;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-800px -5px;
    left: 720px;
    top: 52%;
}

/******************CONTENT********************************/

.content {
    position: relative;
    top:-2px;
    height: 1345px;
    width: 100%;
}

.column1 {
    position: relative;
    top:2px;
    width: 100%;
    height:237px;
    background: linear-gradient(to top,#34263b,#734f82);
    padding-top: 87px;
    padding-left: 0px;
    
}

.col1-left,
.col1-center,
.col1-right {
    float: left;
    width:30%;
    position: relative;
}

.col1-center {
    margin-right:4%;
    margin-left:4%;
}


.col1-left-img {
    display: block;
    position: relative;
    float: left;
    margin-right: 0;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-915px -3px;
    left: 24px;
    top: -9px;
    width: 30px;
    height: 30px;
}

.col1-center-img {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-915px -3px;
    left: 24px;
    top: -9px;
    width: 30px;
    height: 30px;
    
}

.col1-right-img {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-915px -3px;
    left: 24px;
    top: -9px;
    width: 30px;
    height: 30px;
    
}

.col1-text-h1 {
    display: inline-block;
    position: relative;
    top:-12px;
    left: 40px;
    font:22px "League Gothic",arial, sans-serif;
    color: white;
}

.col1-text {
    display: inline-block;
    position: relative;
    width: 70%;
    font: 16px "Open Sans ",arial, sans-serif;
    line-height: 20px;
    color: white;
    left: 40px;
}

.col1-text-768 {
    display: none;
}

.col1-a a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font:18px "League Gothic",arial, sans-serif;
    color: white;
    left: 70%;
    top:10%;
}

.col1-a a:hover {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font:18px "League Gothic",arial, sans-serif;
    color: white;
    left: 70%;
    text-shadow: 1px 1px 11px rgba(255, 255, 255, 1);
    top:10%;
}

/*****************************************/

.column2 {
    position: relative;
    width: 100%;
    height:465px;/* 36%;*/
    background:#f9f9f9;
    margin: 0 auto;
    padding-top: 2.5%;

}




.box {
    display: inline-block;
    position: absolute;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-1150px -40px;
    height: 270px;
    z-index: 1;
    width: 42%;
    margin-left: 4%;
    margin-top: 11%;
}

.img-avatar {
    display:inline-block;
    position: relative;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-1080px 0px;
    float: left;
    width: 50px;
    height: 50px;
    left: -6.5%;
    top: 5%;
    z-index: 2;

}

.h1-col2 {
    display: inline-block;
    position: relative;
    margin-left: -2.5%;
    top: 24px;
    font:24px "League Gothic",arial, sans-serif;
    line-height: 25px;
    color: black;
    width: 40%;
}

.hh1-col2 {
    display: inline-block;
    position: relative;
    font:24px "League Gothic",arial, sans-serif;
    color: #edbfff;
}

.text-col2 {
    display: inline-block;
    position: relative;
    top: 26px;
    font: lighter 16px "OpenSans ",arial, sans-serif;
    margin-left: 13%;
    color: black;
    line-height: 25px;
    width: 80%;
}

.text768 {
    display: none;
}

/***********Column2 switch***************/
.switch {
    display: inline-block;
    position: relative;
    text-align: center;
    top: 372px;
    left: 19%;
    height: 20px;
    z-index: 4;
    width: 200px;
   
 }


/******Column2 RIGHT********************/
.col2-right {
    float: left;
    position: absolute;
    margin-left: 0.5%;
    width: 40%;
    top: 124px;

}

.list-col2-right {
    margin-top: 47px;
}

.list-item {
    
    padding-bottom: 66px;
}

.mark1 {
    position: absolute;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:0px 0px;
    width: 50px;
    height: 50px;
    
}

.mark2 {
    float: left;
    position: absolute;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-50px 0px;
    width: 50px;
    height: 50px;
}

.h1-col2-right {
    display: inline-block;
    position: absolute;
    font:30px "League Gothic",arial, sans-serif;
    font-weight: 400;
    color: black;
    top: 0;
}

.mark3 {
    float: left;
    position: absolute;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-105px -1px;
    width: 50px;
    height: 50px;
}

.h2-col2-right1 {
    display: inline-block;
    position: absolute;
    font: 16px "Open Sans",arial, sans-serif;
    font-weight: 700;
    color: black;
    padding-left: 23%;
    padding-top: 1%;
    line-height: 25px;
    width: 90%;
}


.text-col2-right1 {
    display: inline-block;
    position: absolute;
    font:16px "OpenSans ",arial, sans-serif;
    letter-spacing: -0.03em;
    font-weight: 300;
    color: black;
    font-weight:300;

}

.more {
    display: none;
}

.more-768 {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font:bold 18px "League Gothic",arial, sans-serif;
  color: black;
  left: 79%;
    top: 4px;

}

.more-768:hover {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font:bold 18px "League Gothic",arial, sans-serif;
  color: black;
  left: 79%;
    top: 4px;
  text-shadow: 1px 1px 11px rgba(1, 1, 1, 1);
}


/*******IMAGES*******************************/
.images {
    position: relative;
    background: #f9f9f9;
    padding-left: 1.5%;
    width: 100%;
    height: 70px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 26px;
    padding-bottom: 23px;
}

.img1 {
    display: block;
    float: left;
    position: relative;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-20px -435px;
    width: 67px;
    height: 66px;
    /*margin-left:10%;*/
    margin-right:7.8%;
    /*margin-right:59px;*/
}

.img2 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-155px -435px;
    width: 67px;
    height: 66px;
    margin-right:7.5%;/* 60px;*/
}

.img3 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-290px -435px;
    width: 67px;
    height: 66px;
    margin-right:8%;/* 59px;*/
}

.img4 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-425px -435px;
    width: 67px;
    height: 66px;
    margin-right:6%;/* 41px;*/
}

.img5 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-545px -435px;
    width: 67px;
    height: 66px;
    margin-right:11.1%;/* 63px;*/
}

/******************************************/

.column3 {
    position: relative;
    background: #ececec;
    max-width: 768px;
    height: 330px;
    padding-top: 70px;
    padding-bottom: 0px;
    padding-left: 0px;
}


.col3-text-h1 {
    display: inline-block;
    position: relative;
    left: 22px;
    font:24px "League Gothic",arial, sans-serif;
    color: #454444;
    font-weight: 400;
    width: 100%;
}

.col3-text {
    display: inline-block;
    position: relative;
    font:lighter 16px "Open Sans ",arial, sans-serif;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.03em;
    top:8px;
    left: 25px;
    overflow: hidden;
}

.col3-left,
.col3-center,
.col3-right {
    float: left;
    width: 27%;
    top: -8px;
    position: relative;
    
}

.col3-left {
    left: -13px;
}

.col3-center {
    margin-right: 4%;
    margin-left: 4%;
}

.col3-left-text768,
.col3-center-text768 {
    display: inline-block;
}

.col3-center-text,
.col3-left-text,
.col3-text-768 {
    display: none;
}




/**FOOTERR****************************************************/

footer {
    position: relative;
    max-width: 100%;
    height: 200px;
    margin:0 auto;
    /*top: -52px;*/
    
}

.img-footer {
    height: 200px;
    background-size: 100%;
    background: url(../img/footer_768.png) center center no-repeat;
      
}

footer menu {
    display:inline-block;
    position: absolute;
    text-align: center;
    top: 35px;
    left: 9px;
    width: 700px
}

footer .menu-footer .menu__item {
  
    float: left;
    list-style: none;
    padding:0;
    margin:0;
    margin-right: 40px;
    padding-top: 10px;
}

footer .menu-footer .menu__link{
    display:inline-block;
    text-decoration:none;
    color:#ffffff;
    text-shadow: 1px 1px 2px black;
    font: 22px "League Gothic",arial, sans-serif;
    
}


  
footer .menu-footer .menu__link:hover {
    display:inline-block;
    text-decoration:underline;
    -moz-text-decoration-color:#edbfff;
    text-shadow: 1px 1px 2px black;
    font: 22px "League Gothic",arial, sans-serif;
    color: #ffffff;
   
}

.copy {
    display: inline-block;
    position: relative;
    font:12px 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 300; 
    top: 20px;
    left: 588px;
}

.as {
    display: inline-block;
    position: relative;
    font:12px 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 700;
    top:20px;
    left: 590px;
}

.copy-320,
.as-320 {
  display: none;
}


}