
.wrapper {
  min-width: 961px;
    max-width: 100%;
  margin:0 auto;
  overflow-x:hidden;
    
}
/**HEADER***************************************************/
header {
    position: relative;
    padding:0;
    margin:0;
    width: 100%;
    height: 36%;
    margin: 0 auto;
    margin-top: 0;
}

.vertical {
  display: none;
}

.home-320 {
  display: none;
}

.img-header {
    padding:0;
    margin:0;
    display: block;
    background-size: 100%;   
    background: url(../img/bg_ie.png) center center no-repeat;
    max-width: 100%;
    height:818px;
    z-index: 1;

}

.logo {
    margin-top: 37px;
    margin-left: 12%;
    margin-right: 156px;

    display:inline-block; 
    position: absolute;
    font-family:'League Gothic',arial, sans-serif;
    font-size:46px;
    color:#ffffff;
    text-shadow: 1px 1px 2px black;
    margin-right: 20px;
    /*letter-spacing:0.5;*/
    border:0;

}

.logo-er {
    display:inline-block; 
    background:#37283e;
  /*-webkit-background-clip: text;  
  color: transparent;
  border:0;*/

}

.phone {
    display: block;
    position: absolute;
    z-index: 3;
        width: 265px;
    height: 371px;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-485px -3px;
    /*margin:  auto;*/
    left: 61%;
    top:225px;
}

.clearfix:after {
    content:'';
    clear: both;
    display: block;
    visibility:hidden;
}

.header-text {
      position: absolute;
      z-index: 3;
      width: 503px;
      height: 245px;
      left: 12%;
      top:337px;
}

.header-text1 {
    font-size: 60px;
    font-weight: 400;
    line-height: ;
    letter-spacing: -0.01em;
    font-family:"League Gothic",arial, sans-serif;
    font-size:60px;
    color:#ffffff;
     
}

.header-text2 {
    font:32px "League Gothic",arial, sans-serif;  
     color:#edbfff;
    
    line-height: 1;
    font-weight: 400;
}

.header-text3 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    width: 54%;
    margin: 5px 0 0 0;
    letter-spacing: -0.03em;
    line-height: 20px;
}

.left{
display: block;
    position: absolute;
    z-index: 3;
    width: 40px;
    height: 42px;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-160px -5px;
    left: 0;
    top: 42%;
    border:0;

}
.right {
    display: block;
    position: absolute;
    z-index: 6;
    width: 40px;
    height: 42px;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-800px -5px;
    right: 0;
    top: 42%;
    border:0;
}
/*Horizont menu******************************************************/

menu {
    display: block;
    position: relative;
    text-align: center;
    top: 36px;
    left: 475px;
    width: 80%;
 }

 

.menu .menu__item {
    
    float: left;
    list-style: none;
    padding:0;
    margin:0;
    margin-right:6%;/* 52px;*/
    padding-top: 10px;
}

.menu .menu__link{
    display:inline-block;
    text-decoration:none;
    color:#ffffff;
    text-shadow: 1px 1px 2px black;
    font: 24px "League Gothic",arial, sans-serif;
    border-bottom: 2px solid transparent
    border:0;
}


  
.menu .menu__link:hover {
    display:inline-block;
    text-decoration:none;
    border-bottom: 2px solid #edbfff;
     text-shadow: 1px 1px 2px black;
    font: 24px "League Gothic",arial, sans-serif;
    border:0;
   
}
/**************Switch header****************************/
.switch-header{
  float: left;
     display:inline-block;
    position: relative;
   
   top:730px;
   left: -168px;
   z-index: 7;
 }

.switch-header .switch__item {
  
    float: left;
    list-style: none;
    padding:0;
    margin:0;
    
    
}

.switch-header .switch__link{
    display:inline-block;
    text-decoration:none;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-370px -10px;
    height: 20px;
    width: 20px;
    
    
}


  
.switch-header .switch__link:hover {
    display:inline-block;
    text-decoration:none;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-390px -10px;
    height: 20px;
    width: 20px;
   
}

.switch-header .active {
    display:inline-block;
    text-decoration:none;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-390px -10px;
    height: 20px;
    width: 20px;
}
/***CONTENT********************************************/
.content {
  position: relative;
  top:-2px;
    height: 793px;
    width: 100%;
}

.col3-left-text768,
.col3-center-text768,
.more-768,
.col33-text-480,
.col1-text-480,
.text-col2-480 {
    display: none;
}


/*****************************************/
.column1 {
  position: relative;
  top:2px;
    width: 100%;
    height:220px;/* 11%;*/
    background-size: 100%;   
    background: url(../img/col1_ie.png) center center no-repeat;
    max-width: 100%;
    padding-top:7%;
    padding-bottom: 3%;
    padding-left:15%;
    padding-right:17%;
}

.col1-left,
.col1-center,
.col1-right {
    float: left;
    width: 20%;
    
     position: relative;
    
}
.col1-center{
  margin-right: 7%;
  margin-left: 7%;
}

.col1-left-img {
    display: block;
    position: relative;
   float: left;
   margin-right: 0;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-915px -3px;
    left: -12%;
    top:-2px;
    width: 30px;
    height: 30px;
}

.col1-center-img {
    display: block;
    position: relative;
     float: left;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-840px -3px;
    left: -15%;
    width: 30px;
    height: 30px;
}

.col1-right-img {
    display: block;
    position: relative;
     float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-875px -1px;
    left: -15%;
    width: 30px;
    height: 30px;
}

.col1-text-h1 {
    display: inline-block;
    position: relative;
    top:-12px;
    left: -10px;
    font:30px "League Gothic",arial, sans-serif;
    color: white;
}

.col1-text {
    display: inline-block;
    position: relative;
    letter-spacing: -0.03em;
    font-weight: 300;
    font:lighter 16px "Open Sans ",arial, sans-serif;
    line-height: 24px;
    color: white;
    left: 20px;
}

.col1-a a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font:18px "League Gothic",arial, sans-serif;
  color: white;
  left: 70%;
  top:10%;
}

.col1-a a:hover {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font:18px "League Gothic",arial, sans-serif;
  color: white;
  left: 70%;
  text-shadow: 1px 1px 11px rgba(255, 255, 255, 1);
  top:10%;
}


/*****************************************/
.column2 {
    position: relative;
    width: 100%;
    height:465px;/* 36%;*/
    background:#f9f9f9;
    margin: 0 auto;
    padding-top: 2.5%;

}




.box {
    display: inline-block;
    position: absolute;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-1150px -40px;
    height: 300px;
    z-index: 1;
    width: 50%;
    margin-left: 13.3%;
    margin-top: 8%;
}

.img-avatar {
    display:inline-block;
    position: relative;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-1080px 0px;
    float: left;
    width: 50px;
    height: 50px;
    left: -4%;
    top: 6%;
    z-index: 2;

}

.h1-col2 {
    display: inline-block;
    position: relative;
    margin-left: -2%;
    top: -110px;
    font:30px "League Gothic",arial, sans-serif;
    color: black;
    font-weight: 400;

}

.hh1-col2 {
    display: inline-block;
    position: relative;
    font:30px "League Gothic",arial, sans-serif;
    color: #edbfff;
}

.text-col2 {
    display: inline-block;
    position: relative;
    top: 70px;
    left: -32%;
    font: lighter 16px "OpenSans ",arial, sans-serif;
    margin-left: -2%;
    color: black;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: -0.03em;
    width: 60%;
}

/***********Column2 switch***************/
.switch {
    display: inline-block;
    position: relative;
    top: 85%;
    left: 30%;
    margin: 0 auto;
    height: 20px;
    z-index: 4;
    width: 200px;
   
 }

.switch .switch__item {
  
    float: left;
    list-style: none;
    padding:0;
    margin:0;
    margin-right: 8px;
    
}

.switch .switch__link{
    display:inline-block;
    text-decoration:none;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-975px 0px;
    height: 20px;
    width: 20px;
    
    
}


  
.switch .switch__link:hover {
    display:inline-block;
    text-decoration:none;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-1000px 0px;
    height: 20px;
    width: 20px;
   
}

.switch .active {
    display:inline-block;
    text-decoration:none;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-1000px 0px;
    height: 20px;
    width: 20px;
}

/******Column2 RIGHT********************/
.col2-right {
    float: left;
    position: absolute;
    left: 50%;
    width: 30%;
    
    top: 130px;

}

.list-col2-right {
    margin-top: 47px;
}

.list-item {
    
    padding-bottom: 66px;
}

.mark1 {
    position: absolute;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:0px 0px;
    width: 50px;
    height: 50px;
    
}

.mark2 {
    float: left;
    position: absolute;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-50px 0px;
    width: 50px;
    height: 50px;
}

.h1-col2-right {
    display: inline-block;
    position: absolute;
    font:30px "League Gothic",arial, sans-serif;
    color: black;
    font-weight: 400;
}

.mark3 {
    float: left;
    position: absolute;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-105px -1px;
    width: 50px;
    height: 50px;
}

.h2-col2-right1 {
    display: inline-block;
    position: absolute;
    font: 16px "Open Sans",arial, sans-serif;
    font-weight: 700;
    color: black;
    padding-left: 19%;
    padding-top: 1%;
    line-height: 25px;
    width: 100%;
}


.text-col2-right1 {
    display: inline-block;
    position: absolute;
    font:lighter 16px "OpenSans ",arial, sans-serif;
    color: black;
    letter-spacing: -0.03em;
    font-weight: 300;

}

.more {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font:bold 18px "League Gothic",arial, sans-serif;
  color: black;
  left: 345px;
  top: 5px;

}

.more:hover {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font:bold 18px "League Gothic",arial, sans-serif;
  color: black;
  left:345px ;
  top:5px;
  text-shadow: 1px 1px 11px rgba(1, 1, 1, 1);
}


/*******IMAGES*******************************/
.images {
  position: relative;
  background:#f9f9f9;
  padding-left: 15%;
  width: 100%;
  height: 70px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 23px;
  padding-bottom: 23px;
}

.img1 {
    display: block;
    float: left;
    position: relative;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-20px -435px;
    width: 67px;
    height: 66px;
    margin-right:6%;/*68px;*/
}

.img2 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-155px -435px;
    width: 67px;
    height: 66px;
    margin-right:6%;
}

.img3 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-290px -435px;
    width: 67px;
    height: 66px;
    margin-right:6%;
}

.img4 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-425px -435px;
    width: 67px;
    height: 66px;
    margin-right:6%;
}

.img5 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-545px -435px;
    width: 67px;
    height: 66px;
    margin-right:6%;
}

.img6 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-715px -435px;
    width: 67px;
    height: 66px;
    margin-right:6%;
}

/******************************************/

.column3 {
   position: relative;
    background: #ececec;
    width: 100%;
    height:400px;
}

.col3-text-h2 {
    display: inline-block;
    position: relative;
   left: -2px;
    top: -3px;
    font:bold 48px "League Gothic",arial, sans-serif;
    color: #454444;

}

.col3-text-h3 {
    display: inline-block;
    position: relative;
    font:bold 48px "League Gothic",arial, sans-serif;
    color:#b9b9b9;

}

.col3-text-h1 {
   display: inline-block;
    position: relative;
    
    color: #454444;
    font-weight: 400;
    font: 30px "League Gothic",arial, sans-serif;
    

}

.col3-text {
    display: inline-block;
    position: relative;
    font:lighter 16px "Open Sans ",arial, sans-serif;
    color: #787878;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.03em;
    top:8px;
    width:300px;
    /*left: 25px;*/
}

.col3-left,
.col3-center,
.col3-right {
    float: left;
    width: 25%;
    margin-top: 5%;
    position: relative;
    
}

.col3-left {
    margin-left: 10%;
}

.col3-center {
    margin-left: 5%;
    margin-right: 5%;
}

.col3-data {
    display: inline-block;
    position: relative;
   
    top: 6px;
    font-family: Georgia;
    color: #c5c5c5;
    font-size: 16px;
    font-style: italic;

}



/**FOOTERR****************************************************/

footer {
    position: relative;
    max-width: 100%;
    height: 2%;
    margin:0 auto;
    margin-top: 565px;
    
}

.img-footer {
    height: 100px;
    background-size: 100%;
    background: url(../img/bg-footer.png) center center no-repeat;
      
}

footer menu {
    display: inline-block;
    position: absolute;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    left:0;
}

footer .menu-footer .menu__item {
    float: left;
    list-style: none;
    padding:0;
    margin:0;
    margin-right: 47px;
    padding-top: 10px;
}

footer .menu-footer .menu__link{
    display:inline-block;
    text-decoration:none;
    color:#ffffff;
    text-shadow: 1px 1px 2px black;
    font: 22px "League Gothic",arial, sans-serif;
}


  
footer .menu-footer .menu__link:hover {
    display:inline-block;
    text-decoration:underline;
    -moz-text-decoration-color:#edbfff;
     text-shadow: 1px 1px 2px black;
    font: 22px "League Gothic",arial, sans-serif;
    color: #ffffff;
}

.copy {
    display: inline-block;
    position: relative;
    font:12px 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 300; 
    top:0px;
    left: 260px;
}

.as {
    display: inline-block;
    position: relative;
    font:12px 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 700;
    top:0px;
    left: 265px;
}

.copy-320,
.as-320 {
    display: none;
}



