.wrapper {
	width: 800px;
	margin: 0 auto;
	border: 1px solid black;
}

h1 {
	font-size: 22px;
	margin: 15px 200px;
	font-weight: 400;
}

ol {
	margin-left: 50px;
}

.list--item0,
.list--item1,
.list--item2, {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
}

li {
	width: 170px;
	height: 15px;
    margin-top: 10px;
}

label {
	font-weight: 400;
	font-size: 16px;

}

.label11,
.label21,
.label31 {
	display: inline-block;
	margin-top: 10px;
}

input[type='checkbox']{
	margin-right: 10px;
}

input[type='submit'] {
	margin-left: 200px;
	margin-bottom: 50px;
	margin-top: 30px;
}

.wrapperModal {
    width: 500px;
    height: 300px;
    display: none;
    position: absolute;
    top: 100px;
    margin-left: 350px;
    z-index: 55;
    background-color: antiquewhite;
    border: 1px solid black;
    -webkit-box-shadow: -1px 3px 23px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 23px 3px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 23px 3px rgba(0,0,0,0.75);
    padding: 15px;
}

.modal_elem_h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}