@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.bd {
    background: url("../img/bg.png") no-repeat;
    width: 1290px;
    height: 900px;

}

/*Horizont menu*/
menu {
    position: static; 
    height: 40px;
    width: 1290px;
    margin: 0;
    padding: 0;
    background:url("../img/bg-header.png");
 }

menu li {
	height: 40px;
    float: right;
    list-style: none;
    padding:0;
    margin:0;
    margin-right: 15px;  /*делаем отступ чтобы пункты меню не сливались */ 
}

menu a {
    display:block;
    padding:10px  15px;
    text-decoration:none;
    color:#60b5ed;
    font: 16px "Helvetica Neue",arial, sans-serif;
    letter-spacing:1px;
}

menu li:nth-child(1) {
    background: linear-gradient(to top, #2e7ac4, #50afdc);
    color: white;
    border-radius: 5px;
    border-left: 1px solid #56a2dc;
    border-right: 1px solid #56a2dc;
}

menu .b1,
menu .b2 {
    color: white;
}

menu li:nth-child(2) {
    width: 200px;
}

.b2 {
    display:block;
    padding-top: 0px;
    padding-bottom: 5px;
}
  
menu a:hover {
    background:#4eabda;
    text-decoration:none;
    color: #ffffff;
    height: 20px;
}

menu .b1:hover,
menu .b2:hover {
    background: transparent;
    color: white;
}

.s1 {
    position: relative;
    bottom: 10px;
}

.s2,
.s3 {
    text-decoration: underline;
}



.window {
    position: relative;
    width: 600px;
    height: 700px;
    background: rgba(0,0,0,0.5);
    z-index: 20;
    margin: 130px auto;
}

hr {
    width: 598px;
    font-weight: 5px;
    color: transparent;
}
.cadastre {
    height: 20px;
    display: block;
    position: relative;
    padding:10px 220px;
}

.s4 {
    text-align: center;
    color: white;
    font:bold 24px "Helvetica Neue",arial, sans-serif;
    letter-spacing:1px;
}
/*Facebook*/
.facebook {
    position: relative;
    top:40px;
    left: 170px;
    height: 35px;
    width: 274px;
    background: linear-gradient(to top, #2e4476, #3f5699);
    border-top: 1px solid #7789bb;
    border-radius: 4px;
}

.face {
     position: relative;
    top:-2px;
    left: 2px;
    padding: 5px 10px;
    padding-left: 13px;

}

.face-line {
     position: relative;
    padding: 0;
    top:-1px;
}

.facebook a{
    text-decoration: none;
}
.s5,
.s6 {
    font:bold 16px "Helvetica Neue",arial, sans-serif;
    color: white;
    margin: 10px;
    
}

.s7 {
    font:16px "Helvetica Neue",arial, sans-serif;
    color: white;
    
}

.text-face {
    position: relative;
    top:-35px;
    left: 50px;
    margin: 5px 15px;
}

.ou {
    position: relative;
    top:70px;
    left: 170px;
}
/*Form and input*/
form {
    position: relative;
    top:100px;
    left: 170px; 
    width: 274px;
}

form input {
    width: 234px;
    height: 30px;
    font: 16px "Helvetica Neue",arial, sans-serif;
    color: white;
    background: #0f0f0f;
    border: 1px solid #0f0f0f;
    border-bottom:1px solid #484948;
    padding: 5px 20px;
    letter-spacing:1px;
    margin-bottom: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background:#1b5288;
    -webkit-box-shadow: 0px 0px 11px 6px rgba(80,139,181,1);
    -moz-box-shadow: 0px 0px 11px 6px rgba(80,139,181,1);
    box-shadow: 0px 0px 11px 6px rgba(80,139,181,1);
}

/*checkbox*/

.checkbox {
    position: relative;
 
}

input[type="checkbox"] {
    width: 12px;
    height: 12px;
    background:linear-gradient(to top left,#f7f7f7 , #cecfd6); 
}
 label {
    display: inline-block;
    position: relative;
    top:-2px;
    font: 16px "Helvetica Neue",arial, sans-serif;
    color: white;
    margin-left: 9px;
 }


/*submit*/
input[type="submit"] {  
    display: block;
    height: 38px;
    width: 180px;
    background:linear-gradient(to top, #2e7ac4, #4eabda);
    font: bold 14px "Helvetica Neue",arial, sans-serif;
    color: white;
    border-radius: 4px;
    margin-left: 50px;
    border: 1px solid #54a1db;

}

.text {
    display: inline-block;
    position: relative;
    font: 16px "Helvetica Neue",arial, sans-serif;
    color: white;
    left: 95px;
    top:120px;
}

.text1 {
    position: relative;
    font: 16px "Helvetica Neue",arial, sans-serif;
    color: white;
    left: 240px;
    top:130px;
}




