<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <title>Ekzamen</title>
  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://allfont.ru/allfont.css?fonts=montserrat-bold" rel="stylesheet" type="text/css" />
    <link href="http://allfont.ru/allfont.css?fonts=roboto-light" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/flexslider.css">
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <!--<script src="js/masonry.pkgd.js"></script>-->
    <script src="js/imagesLoad.min.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>   
    <script src="js/template.js"></script>
   <script src="js/script.js"></script>
<!--   <script src="js/search.js"></script>-->
<!--<script src="js/masonry.js"></script>-->
  

</head>
<body>
    <div class="wrapper">
        <header>
           
            <div class="header__log">
                <button class="log__in">Log In</button>
                <button class="sign__up sign__up__active">Sign Up</button>
            </div>
            <span class="header__text__h2">URLAUBSGLÜCK</span>
            <span class="header__text">
                <!--<span class="header__text__h2">URLAUBSGLÜCK</span>-->
                <span class="header__text__h1">SHARE YOUR HOLIDAY DREAMS</span>
                <span class="header__text__h3">And find the partner to fullfill it</span>
            </span>
            <button class="header__find">Find your holiday partner</button>
            
        </header>
        <div class="content1">
            <span class="content1__h1">How Urlaubsglück works?</span>
            <span class="content1__img content1__img1">
                <button class="step">STEP1</button>
                <span class="content1__img__h1">Sed leo enim, condimentum</span>
                <span class="content1__img__text">Quesque libero libero, dictum non tupris in? luctus semper lorem.
                Donec rhoncus a leo sit amet facilisis.</span>
            </span>
            <span class="content1__img content1__img2">
                <button class="step step2">STEP2</button>
                <span class="content1__img__h1 content1__img2__h1">Morbi velit risus</span>
                <span class="content1__img__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
            </span>
            <span class="content1__img content1__img3">
                <button class="step">STEP3</button>
                <span class="content1__img__h1">Sed leo enim? condimentum</span>
                <span class="content1__img__text">Quesque libero libero, dictum non tupris in? luctus semper lorem.
                Donec rhoncus a leo sit amet facilisis.</span>
            </span>
            
            <div class="flexslider__box">
            <div class="flexslider">
                <ul class="slides">
                    <li><img class="slides__img1 slides__img"  /></li><!--src="img/tabl_slide1.png"-->
                    <li><img class="slides__img2 slides__img"  /></li><!--src="img/tabl_slide2.png"-->
                </ul>
                <span class="content1__flexslider flexslider__text1">
                <button class="step">STEP1</button>
                <span class="content1__img__h1">Sed leo enim, condimentum</span>
                <span class="content1__img__text">Quesque libero libero, dictum non tupris in? luctus semper lorem.
                Donec rhoncus a leo sit amet facilisis.</span>
            </span>
            </div>
            
            <div class="flexslider">
                <ul class="slides">
                    <li><img class="slides__img2 slides__img" /></li>
                    <li><img class="slides__img3 slides__img"  /></li>
                </ul>
                <span class="content1__flexslider flexslider__text2">
                <button class="step step2">STEP2</button>
                <span class="content1__img__h1 content1__img2__h1">Morbi velit risus</span>
                <span class="content1__img__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
            </span>
            </div>
            
            <div class="flexslider">
                <ul class="slides">
                    <li><img class="slides__img3 slides__img"  /></li>
                    <li><img class="slides__img1 slides__img"  /></li>
                </ul>
                <span class="content1__flexslider flexslider__text2">
                <button class="step">STEP3</button>
                <span class="content1__img__h1">Sed leo enim? condimentum</span>
                <span class="content1__img__text">Quesque libero libero, dictum non tupris in? luctus semper lorem.
                Donec rhoncus a leo sit amet facilisis.</span>
            </span>
            </div>
            </div>
        </div>
        <div class="content2">
           <span class="content2__h1">Meet a partner for your best holiday</span>
           <div class="content2__images">
           <span class="content2__block content2__block__first">
            <a href="#" class="content2__img content2__img1"></a>
                <a href="#" class="content2__img__h1">Bradley Hunter</a>
                <span class="content2__img__text">Based in Chicago, I love playing tennis and load music.</span>
           </span>
        
           <span class="content2__block">
            <a href="#" class="content2__img content2__img2"></a>
               <a href="#" class="content2__img__h1 ">Heather Walker</a>
                <span class="content2__img__text">I'm happy person that loves cats and climbing on mountains.</span>
                
           </span>
           <span class="content2__block">
            <a href="#" class="content2__img content2__img3"></a>
               <a href="#" class="content2__img__h1 content2__img3__h1">Lucas Marsha</a>
                <span class="content2__img__text"> I get inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</span>
                
           </span>
           <span class="content2__block">
            <a href="#" class="content2__img content2__img4"></a>
                <a href="#" class="content2__img__h1 content2__img4__h1">Breadley Hunter</a>
                <span class="content2__img__text content2__img4__text">Based in Chicago. I love playing tennis and load music.</span>
           </span>
            </div>
            <button class="content2__see-others">See others partners</button>
            
        </div>
        <div class="content3">
            <span class="content3__h1">Discover holiday activity ideas</span>
            <div class="content3__images">
            <span class="content3__img content3__img1">
                <span class="content3__img__h1">Sport and Activity</span>
            </span>   
            <span class="content3__img content3__img2">
                <span class="content3__img__h1">Wellness and Health</span>
            </span>
            <span class="content3__img content3__img3">
                <span class="content3__img__h1">Extreme Sports and Expeditions</span>
            </span>
            <span class="content3__img content3__img4">
                <span class="content3__img__h1">Games</span>
            </span>   
            
            <span class="content3__img content3__img6">
                <span class="content3__img__h1">Relaxation</span>
            </span>
            <span class="content3__img content3__img7">
                <span class="content3__img__h1">Trevelling</span>
            </span>
            <span class="content3__img content3__img5">
                <span class="content3__img__h1">Culture and Education</span>
            </span>
            </div>
            
           <!--<div class="grid">
            </div>-->
            
            <div class="grid__images">
            
            <script id="tmpl" type="text/template">
              <div class="grid">
              <% for (i=0; i<7; i++) { if(i==4 || i==5){ %>
               <div class=" grid-item grid-item-w2 "><img  class="grid__img " src="<%= hits[i].previewURL%>" >
                <span class="content3__img__h1"><%= hits[i].tags %></span></div>
               <%}else {%>
              
              <div class="grid-item "><img  class="grid__img " src="<%= hits[i].previewURL%>" >
                <span class="content3__img__h1"><%= hits[i].tags %></span></div>
               
              <%}}%>
              </div>
            </script>
            
            
            </div>
          

            
            <!--</div>-->
            <!---->
            <span class="content3__h1 content3__h1__discower">Discover holiday activity ideas</span>
            <span class="content3__h2">Hi! What are your holiday interests?</span>
            <input type="text" class="interest" id="query" placeholder="Enter your interests">
            <button class="content3__search">Search partners</button>
            
        </div>
        <footer>
            <span class="footer__h1">URLAUBSGLÜCK</span>
            <span class="footer__h2">Company</span>
            <ul class="menu">
                <li class="menu__item"><a href="#" class="menu__link">About</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Contacts</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Press</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
            </ul>
            <span class="footer__h2 footer__h2__partners">Partners</span>
            <span class="footer__h3">DESIGNED BY</span>
            <span class="footer__logo"></span>
        </footer>
    </div>
        
   
</body>

</html>