<!DOCTYPE html>
<html lang="en">
<head >
	<meta charset="utf-8">
  <title>Module js_module_15_16</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
   <script  src="js/imagesLoad.min.js"></script>
   <script  src="js/masonry.pkgd.js"></script>
    <script  src="js/script.js"></script>
    <script src="js/template.js"></script>


    

</head>
<body>
    <div class="wrapper"> 
        <div>
          <input type="search" id="query" >
          <input type="submit" value="Search" class="search">
        </div>
        <div class="grid">
        <script id="tmpl" type="text/template">
          
              <% for (i=0; i<hits.length; i++) {%>
              <div class="grid-item"><img src="<%= hits[i].previewURL%>"></div>
              <%}%>
         
        </script>
         </div>
    </div>
</body>

</html>
