.wrapper {
    width: 900px;
    
}

input[type="search"] {
    width:400px;
    margin-left: 50px;
    margin-top: 50px;
}

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */


.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}
