@media screen and (max-width: 960px){
.wrapper {
    min-width: 768px;
    max-width: 960px;
    margin:0 auto;
    overflow-x:hidden;
}
/**HEADER***************************************************/
header {
    position: relative;
    padding:0;
    width: 100%;
    height: 36%;
    margin: 0 auto;
}

.vertical {
    display: none;
}

.img-header {
    padding:0;
    margin:0;
    display: block;
    background-size: 100%;   
    background: url(../img/gg.png) center center no-repeat;
    max-width: 100%;
    height:818px;
    z-index: 1;

}

.home-320 {
  display: none;
}


.logo {
    margin-top: 37px;
    margin-left: 0px;
    margin-right: 156px;
    display:inline-block; 
    position: absolute;
    font: 46px 'League Gothic',arial, sans-serif;
    color:#ffffff;
    text-shadow: 1px 1px 2px black;
    margin-right: 20px;
    letter-spacing:0.5;

}

.logo-er {
    display:inline-block; 
    background:linear-gradient(to top,#37283e,#734f82);
    -webkit-background-clip: text;  
    color: transparent;

}
.transpar {
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    top:252px;
    width: 100%;
    height: 401px;
   
}

.phone {
    display: block;
    position: absolute;
    z-index: 3;
    width: 265px;
    height: 371px;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-485px -3px;
    left: 600px;
    top: 234px;
}

.clearfix:after {
  content:'';
  clear: both;
  display: block;
  visibility:hidden;
}

.header-text {
    position: absolute;
    z-index: 3;
    width: 503px;
    height: 245px;
    left: 0px;
    top: 332px;
    
}

.header-text1 {
    font:60px "League Gothic",arial, sans-serif;
    color:#ffffff;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.01em;
}

.header-text2 {
    font: 32px "League Gothic",arial, sans-serif;
    color:#edbfff;
    line-height: 1;
    font-weight: 400;
}

.header-text3 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    width: 54%;
    letter-spacing: -0.03em;
}

.left,
.right {
    display: none;
}
/*Horizont menu******************************************************/

menu {
    display: block;
    position: absolute;
    text-align: center;
    top: 36px;
    left: 318px;
    width: 80%;
 }

 

.menu .menu__item {
    float: left;
    list-style: none;
    padding:0;
    margin:0;
    margin-right:6%;/* 46px;*/
    padding-top: 10px;
}

.menu .menu__link{
    display:inline-block;
    text-decoration:none;
    color:#ffffff;
    text-shadow: 1px 1px 2px black;
    font: 24px "League Gothic",arial, sans-serif;
}
  
.menu .menu__link:hover {
    display:inline-block;
    text-decoration:none;
    border-bottom: 2px solid #edbfff;
    text-shadow: 1px 1px 2px black;
    font: 24px "League Gothic",arial, sans-serif;
    
}
/**************Switch header****************************/
.switch-header{
    top: 740px;
    left: 74%;
    z-index: 7;
 }

/***CONTENT********************************************/
.content {
    position: relative;
    top:-2px;
    height: 850px;
    width: 100%;
}


/*****************************************/
.column1 {
    position: relative;
    top:2px;
    width: 960px;
    height:229px;
    background: linear-gradient(to top,#34263b,#734f82);
    padding-top: 90px;
    padding-left: 29px;
}

.col1-left,
.col1-center,
.col1-right {
    float: left;
    width: 240px;
    position: relative;
}

.col1-center {
    margin-right: 10%;
    margin-left: 11%;
}

.col1-left-img {
    display: block;
    position: relative;
    float: left;
    margin-right: 0;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-915px -3px;
    left: -12%;
    top:-2px;
    width: 30px;
    height: 30px;
}

.col1-center-img {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat;
    background-position:-840px -3px;
    left: -15%;
    width: 30px;
    height: 30px;
}

.col1-right-img {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-875px -1px;
    left: -15%;
    width: 30px;
    height: 30px;
}

.col1-text-h1 {
    display: inline-block;
    position: relative;
    top:-12px;
    left: -10px;
    font-weight: 400;
    font:30px "League Gothic",arial, sans-serif;
    color: white;
}

.col1-text {
    display: inline-block;
    position: relative;
    font:lighter 16px "Open Sans ",arial, sans-serif;
    line-height: 24px;
    color: white;
    left: 20px;
    top: -5px;
    letter-spacing: -0.03em;
    font-weight: 300;
}

.col1-a a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font:18px "League Gothic",arial, sans-serif;
    color: white;
    left: 77%;
    top: 10px;
}

.col1-a a:hover {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font:18px "League Gothic",arial, sans-serif;
    color: white;
    left: 77%;
    top: 10px;
    text-shadow: 1px 1px 11px rgba(255, 255, 255, 1);
    
}

/*****************************************/
.column2 {
    position: relative;
    width: 100%;
    height:465px;/* 36%;*/
    background:#f9f9f9;
    margin: 0 auto;
    padding-top: 2.5%;

}




.box {
    display: inline-block;
    position: absolute;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-1150px -40px;
    height: 300px;
    z-index: 1;
    width: 50%;
    margin-left: 1.5%;
    margin-top: 8.5%;
}

.img-avatar {
    display:inline-block;
    position: relative;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-1080px 0px;
    float: left;
    width: 50px;
    height: 50px;
    left: -4%;
    top: 6%;
    z-index: 2;

}

.h1-col2 {
    display: inline-block;
    position: relative;
    top: 9%;
    font:30px "League Gothic",arial, sans-serif;
    color: black;
    font-weight: 400;

}

.hh1-col2 {
    display: inline-block;
    position: relative;
    font:30px "League Gothic",arial, sans-serif;
    color: #edbfff;
}

.text-col2 {
    display: inline-block;
    position: relative;
    top: 32px;
    left: -2px;
    font: lighter 16px "OpenSans ",arial, sans-serif;
    margin-left: -2%;
    color: black;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: -0.03em;
    width: 75%;
}

/***********Column2 switch***************/
.switch {
    display: inline-block;
    position: relative;
    top: 79.5%;
    left: 18.5%;
    margin: 0 auto;
    height: 20px;
    z-index: 4;
    width: 200px;
   
 }


/******Column2 RIGHT********************/
.col2-right {
    float: left;
    position: absolute;
    left: 53%;
    width: 30%;
    top: 128px;

}

.list-col2-right {
    margin-top: 47px;
}

.list-item {
    
    padding-bottom: 66px;
}

.mark1 {
    position: absolute;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:0px 0px;
    width: 50px;
    height: 50px;
    
}

.mark2 {
    float: left;
    position: absolute;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-50px 0px;
    width: 50px;
    height: 50px;
}

.h1-col2-right {
    display: inline-block;
    position: absolute;
    font:30px "League Gothic",arial, sans-serif;
    color: black;
    font-weight: 400;
}

.mark3 {
    float: left;
    position: absolute;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-105px -1px;
    width: 50px;
    height: 50px;
}

.h2-col2-right1 {
    display: inline-block;
    position: absolute;
    font: 16px "Open Sans",arial, sans-serif;
    font-weight: 700;
    color: black;
    padding-left: 24%;
    padding-top: 0.5%;
    line-height: 25px;
    width: 130%;
}


.text-col2-right1 {
    display: inline-block;
    position: absolute;
    font:lighter 16px "OpenSans ",arial, sans-serif;
    color: black;
    letter-spacing: -0.03em;
    font-weight: 300;

}


/*******IMAGES*******************************/
.images {
    position: relative;
    background:#f9f9f9;
    padding-left: 9%;
    width: 100%;
    height: 70px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 21px;
}

.img1 {
    display: block;
    float: left;
    position: relative;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-20px -435px;
    width: 67px;
    height: 66px;
    margin-right:7%;
}

.img2 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-155px -435px;
    width: 67px;
    height: 66px;
    margin-right:7.5%;/* 67px;*/
}

.img3 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-290px -435px;
    width: 67px;
    height: 66px;
    margin-right:7%;/* 68px;*/
}

.img4 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-425px -435px;
    width: 67px;
    height: 66px;
    margin-right:6%;/* 55px;*/
}

.img5 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-545px -435px;
    width: 67px;
    height: 66px;
    margin-right:10.5%;/* 100px;*/
}

.img6 {
    display: block;
    position: relative;
    float: left;
    background:transparent url(../img/spryte.png) no-repeat; 
    background-position:-715px -435px;
    width: 67px;
    height: 66px;
    
}

/******************************************/

.column3 {
    position: relative;
    background: #ececec;
    width: 100%;
    height:300px;
    padding-top: 5%;
    padding-left: 0;
}

.col3-text-h2 {
    display: inline-block;
    position: relative;
    left:0;
    top: 0;
    font:bold 48px "League Gothic",arial, sans-serif;
    color: #454444;
}

.col3-text-h3 {
    display: inline-block;
    position: relative;
    font:bold 48px "League Gothic",arial, sans-serif;
    color:#b9b9b9;
}

.col3-text-h1 {
    display: inline-block;
    position: relative;
    left: 0;
    color: #454444;
    font-weight: 400;
    font: bold 30px "League Gothic",arial, sans-serif;
}

.col3-text {
    display: inline-block;
    position: relative;
    font:lighter 16px "Open Sans ",arial, sans-serif;
    color: #787878;
    top:8px;
    left: 0;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.03em;
}

.col3-left,
.col3-center,
.col3-right {
    float: left;
    width: 30%;
    top: 0;
    left: 0;
    position: relative;
    
    
}

.col3-left {
    margin-left: 0;
}

.col3-center {
    margin-right: 5%;
    margin-left: 5%;
}

.col3-data {
    font-family: Georgia;
    color: #c5c5c5;
    font-size: 16px;
    font-style: italic;

}



/**FOOTERR****************************************************/

footer {
    position: relative;
    max-width: 100%;
    padding:0;
    margin:0;
    height: 2%;
    margin:0 auto;
    margin-top: 440px;
    
}

.img-footer {
    height: 100px;
    background-size: 100%;
    background: url(../img/bg-footer.png) center center no-repeat;
      
}

footer menu {
    display:inline-block;
    position: absolute;
    text-align: center;
    top: 30px;
    left: 10px;
}

footer .menu-footer .menu__item {
  
    float: left;
    list-style: none;
    padding:0;
    margin:0;
    margin-right: 47px;
    padding-top: 10px;
}

footer .menu-footer .menu__link{
    display:inline-block;
    text-decoration:none;
    color:#ffffff;
    text-shadow: 1px 1px 2px black;
    font: 22px "League Gothic",arial, sans-serif;  
}


  
footer .menu-footer .menu__link:hover {
    display:inline-block;
    text-decoration:underline;
    -moz-text-decoration-color:#edbfff;
    text-shadow: 1px 1px 2px black;
    font: 22px "League Gothic",arial, sans-serif;
    color: #ffffff;
   
}
.copy {
    display: inline-block;
    position: relative;
    font:12px 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 300; 
    top: -30px;
    left: 700px;
}

.as {
    display: inline-block;
    position: relative;
    font:12px 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 700;
    top: -30px;
    left: 705px;
}

.copy-320,
.as-320 {
  display: none;
}

}



