
.icon-skype:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-rss:before { content: '\e802'; } /* '' */
.icon-rss-1:before { content: '\e803'; } /* '' */
.icon-linkedin-1:before { content: '\e804'; } /* '' */
.icon-rss-2:before { content: '\e805'; } /* '' */
.icon-skype-1:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-minus:before { content: '\e80b'; } /* '' */
.icon-location-alt:before { content: '\e80c'; } /* '' */
.icon-note:before { content: '\e80e'; } /* '' */
.icon-mobile:before { content: '\f4f1'; } /* '' */